h1 {font-family: 'Raleway', sans-serif;}
h2 {font-family: 'Raleway', sans-serif;}
h3 {font-family: 'Raleway', sans-serif;}
p {font-family: 'Raleway', sans-serif;}
.rale {font-family: 'Raleway', sans-serif;}


.mytext {
    height: 30px;
}
.slidecontainerjer {
  width: 100%;
  height: 35px
}

.sliderjer {
  -webkit-appearance: none;
  width: 60%;
  height: 10px;
  border-radius: 1px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.8;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.sliderjer:hover {
  opacity: 1;
}

.sliderjer::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 24px;
  border: 0;
  background: url();
  cursor: pointer;
}

.sliderjer::-moz-range-thumb {
  width: 80px;
  height: 70px;
  border: 0;
  background: url(images/jerry.png)no-repeat; background-size: 50%;
  cursor: pointer;
}



.slidecontainergeo {
  width: 100%;
  height: 35px;
}

.slidergeo {
  -webkit-appearance: none;
  width: 60%;
  height: 10px;
  border-radius: 1px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.8;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slidergeo:hover {
  opacity: 1;
}

.slidergeo::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 24px;
  border: 0;
  background: url(images/geo.png);
  cursor: pointer;
}

.slidergeo::-moz-range-thumb {
  width: 70px;
  height: 60px;
  border: 0;
  background: url(images/geo.png)no-repeat; background-size: 50%;
  cursor: pointer;
}






.slidecontainerkra {
  width: 100%;
  height: 35px;
}

.sliderkra {
  -webkit-appearance: none;
  width: 60%;
  height: 10px;
  border-radius: 1px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.8;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.sliderkra:hover {
  opacity: 1;
}

.sliderkra::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 24px;
  border: 0;
  background: url();
  cursor: pointer;
}

.sliderkra::-moz-range-thumb {
  width: 80px;
  height: 70px;
  border: 0;
  background: url(images/kramer.png)no-repeat; background-size: 50%;
  cursor: pointer;
}



.slidecontainerela {
  width: 100%;
}

.sliderela {
  -webkit-appearance: none;
  width: 60%;
  height: 10px;
  border-radius: 1px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.8;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.sliderela:hover {
  opacity: 1;
}

.sliderela::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 24px;
  border: 0;
  background: url(images/geo.png);
  cursor: pointer;
}

.sliderela::-moz-range-thumb {
  width: 70px;
  height: 60px;
  border: 0;
  background: url(https://www.pngkey.com/png/full/879-8794059_saturday-read-4-how-do-you-fit-seinfeld.png)no-repeat; background-size: 50%;
  cursor: pointer;
}


/* * {
  box-sizing: border-box;
} */



/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 35%;
  height: 1070px;
  background: rgba(185,187,255,0.3);
  padding: 20px;

}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 30%;
  background: rgba(218,218,218,0.3);
  height: 200px;
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

aside {
  float: left;
  width: 35%;
  height: 200px;
  background: rgba(185,187,255,0.3);
  padding: 20px;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
/*
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

#wrapper {
  position: relative;
  width: 800px;
  min-height: 400px;
  margin: 100px auto;
  color: #333; */

header {
  float: right;
  width: 35%;
  height: 30px;
  background: rgba(185,187,255,0);
  padding: 20px;
  color: white;
}

div.fixed {
  position: relative;
  top: 85px;
  left: 30px;
  width: 100%;
}
div.fixed2 {
  position: relative;
  top: 85px;
  left: 0px;
  width: 100%;
}
