<!DOCTYPE html>
<html>
  <head>
    <title>The App About Nothing</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">
  </head>

  <div class="bg"></div>
    <h1>
         <form action = "/generate" method="POST">
           <p>Enter Start of Phrase: <input name="start_seed" type="text" value="What's the deal with" class="mytext" /></p>
           <p>Enter Length of Phrase (in characters): <input name="line_length" type="number" value="100" class="mytext" width=50%/></p>
           <p><input type ="submit" value="generate"/></p>
         </form>
    </h1>
</html>
