<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The App About Nothing</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
    <body>
      <div class="w3-top">
        <div class="w3-bar w3-white w3-wide w3-padding w3-card">
          <a href="/" class="w3-bar-item w3-button"><i>The App About Nothing</i></a>
            <!-- Float links to the right. Hide them on small screens -->
            <div class="w3-right w3-hide-small">
              <a href="/" class="w3-bar-item w3-button">Home</a>
              <a href="/result" class="w3-bar-item w3-button">Create Episode</a>
              <a href="/generate" class="w3-bar-item w3-button">Generate Lines</a>
      </div>
    </div>
  </div>
  <div class="fixed2">
      <img src='https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages2.alphacoders.com%2F493%2Fthumb-1920-493640.jpg&f=1&nofb=1' style='position:fixed;top:30px;left:0px;width:100%;height:100%;z-index:-1;'>
      <div class="bg"></div>
      <title>The App About Nothing</title>
        <h1><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Seinfeld_logo.svg/1200px-Seinfeld_logo.svg.png" alt="logo" align="middle" width=30%>
        <font size="10"><i>The App About Nothing</i></font>
      </h1>
        <section>
    <aside height=50%>
      <h1><font size="6">Click Here to Create Your Own Episode and See Your Rating!</font></h1>
      <form>
         <input type="button" onclick="window.location.href = '/result';" value="Create Episode"/>
      </form>
    </aside>

    <article>
      <h1><font size="6">Click Here to Generate Some lines for Jerry!</font></h1>
      <form>
         <input type="button" onclick="window.location.href = '/generate';" value="Generate Text"/>
      </form>
    </article>
  </section>
</div>
    </body>
  </html>
